__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/
.ruff_cache/

.deps/
.venv*/

logs/
cache/
extscache/

datasets/
recordings/
outputs/
tmp/

# Runtime URDF collision-mesh downloads created by DRDK SelfCollisionMonitor.
L_coll_meshes/
R_coll_meshes/

isaac_sim_ws/
isaacsim
exts

.DS_Store
.vscode/
.vs/

configs/xr_teleoperate/*.pem
